*{
    padding: 0px;
    margin: 0px;
    
}

.root-container{
    width: 100vw;
    height: 80vh;
    overflow: scroll;
}
.header{
   display: flex;
   position: sticky;
   top: 0;
   background-color: #fff;
   width: fit-content;
   
}
.header>div:nth-child(1){
    left: 0;
    position: sticky;
    z-index: 100;
    background-color: #e7e7e7;
}
.cell{
    min-width: 150px;
    padding: 5px;
    border: 1px solid #c4c7c5;
}
.header-cell{
    /* border: 1px solid blue; */
    text-align: center;
    color: #444746;
}
.sno-cell{
    /* border: 1px solid orange; */
    text-align: center;
}

.body{
    display: flex;
}
.sno{
    position: sticky;
    left: 0;
    background: #fff;
}
.main{
    height: 100px;
}
.row{
    display: flex;
}
@font-face{
    font-family: root-font;
    src:url(./NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}
